.gradle
/build/
/api/build/
/api/out

/biz/build/
/biz/out/

/core/build/
/core/out/

/dal/build/
/dal/out/

/ext/build/
/ext/out/
*/build/
*/out/

/h2/
*/h2/
*/logs/
.logs
/logs/
/target/
gradle.properties
!gradle/wrapper/gradle-wrapper.jar


### STS ###
.h2
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/