
syntax = "proto3";

option java_multiple_files = true;

option java_package = "{{context.group}}.{{context.project}}.grpc";

// The greeting service definition.
service Greeter {

  // Sends a greeting
  rpc SayHello (HelloRequest) returns (HelloReply) {}

  // Sends another greeting
  rpc SayHelloAgain (HelloRequest) returns (stream HelloReply) {}

  rpc CountHello (stream HelloRequest) returns (IntData) {}

  rpc HelloChat (stream HelloRequest) returns (stream HelloReply) {}

}

message IntData {
  int32 number = 1;
}

// The request message containing the user's name.
message HelloRequest {
  string name = 1;
}

// The response message containing the greetings
message HelloReply {
  string message = 1;
}