ext {
    commonsIoVersion = "2.6"
    lombokVersion = "1.16.20"
    apacheCommonLangVersion = "3.3.2"
    springBootVersion = '2.1.0.RELEASE'
    springCloudVersion = 'Finchley.SR2'
    assuredMockVersion = "3.2.0"

    grpcStarterVersion = '2.1.0.RELEASE'
    grpcCodegenVersion = '0.8.5'
    grpcTcnativeVersion = '2.0.7.Final'

    h2Version = '1.4.197'
    mysqlConnectorVersion = '8.0.11'

    junitVersion = '4.12'
    spockVersion = '1.2-groovy-2.4'

    fluentValidatorVersion = '1.0.9'
}