rootProject.name = '{{ context.project }}'
include 'api'
include 'api:grpc'
include 'api:rest'
include 'biz'
include 'core'
include 'dal'
include 'dal:common'
include 'dal:jooq'
include 'dal:jpa'
include 'dal:database'
include 'ext'

